<h1>Log in with BankID</h1>
<form method="post" id="form">
  <% prefilled = locals.prefilled || {}; %>

  <% if (locals.message) { %>
    <p class="error"><%= message %></p>
  <% } %>

  <fieldset>
    <legend>Your account</legend>
    <ol>
      <li>
        <label for="pno">Social security number</label>
        <input id="pno" type="text" name="pno" autofocus value="<%= prefilled.pno || '' %>">
      </li>
    </ol>
  </fieldset>

  <p class="actions"><button type="submit" name="submit" onclick="awaitCollection();">Log in</button></p>
</form>

<div id="await-collection" style="display: none">
  <p>Start your BankID application to complete your login.</p>
</div>

<script>
  function awaitCollection() {
    document.getElementById("form").style.display = "none";
    document.getElementById("await-collection").style.display = "block";
  }
</script>
